<h1 style="color: red;">About me</h1>
<p>My image</p>
<img src="http://anhnendep.net/wp-content/uploads/2016/02/league-of-legend-lien-minh-huyen-thoai-07.jpg" style="width: 1100px; height: 600px;"></img>
<br>
<!--<p><font size="5">Welcome to My Persional Page</font></p> -->
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <em>Welcome</em>
  <em class="planet left">to</em>
  <em>My</em>
  <em class="planet right">Persional</em>
  <em>Page</em>
  <a href="https://www.facebook.com/HyeJin08" style="color: green" >Click here to see me</a>
</h1>
